.bread-crumb {
  list-style: none;

  padding-left: 0;
  padding-bottom: 1rem;
  color: #6c757d;
  font-weight: lighter;
  font-size: 0.8rem;


  @media (min-width: $tablet-size) {
    margin-top: -20px;
  }

  & svg {
    color: rgba(78, 85, 91, 0.4);
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }

  &__item {
    display: inline;
    padding-right: 0.5rem;

    & a {
      color: $primary-color;
    }
  }
}
