.worker {
  padding-bottom: 2rem;
  & h3 {
    margin-top: 1rem;
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__row {
    @media (min-width: $tablet-size) {
      display: flex;
    }
  }

  &__photo-container {
    @media (min-width: $tablet-size) {
      padding-left: 1rem;
      flex: 0 0 30%;
      max-width: 30%;
    }
  }

  &__description {
    @media (min-width: $tablet-size) {
      padding-left: 1rem;
      flex: 0 0 70%;
      max-width: 70%;
    }
  }
}
